@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);


#content {
    -webkit-font-smoothing: antialiased;
}

#title {
  text-align: center;
  margin: auto;
}

#links {
  text-align: center;
}

#resume, #essays, #github, #music, #photo , #research, #home, #projects, #about-me {
  margin-left:  5px;
  margin-right: 5px;
}


.profile {
  /* margin: 0; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: auto; */
}

.tennis {
  /* margin: 0; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float:left;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: auto; */
}
.crew {
  /* margin: 0; */
  margin-right: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  float:right;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: auto; */
}


.project-pic {
  /* margin: 0; */
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: auto; */
}


hr {
  border: 1;
  width: 40%;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

p {
  /* color: #657b83; */
  margin: 1em 0;
  text-decoration: none;
}

a {
  color: #000000;
  margin: 1em 0;
  text-decoration: underline;
}

a:hover {
  color: #2aa198;
}

#site {
  font-size: 100%;
  text-align: left;
  width: 70%;
  /* margin: auto auto auto auto; */
  margin:auto;
  line-height: 1.5em;

  font-family: Vollkorn;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

#researchtext {
  font-size: 100%;
  text-align: left;
  width: 70%;
  /* margin: auto auto auto auto; */
  margin:auto;
  line-height: 1.5em;

  font-family: Vollkorn;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

.post-body {
  margin: auto;
  width: 700px;
  text-align: left;
}

.info {
  margin: auto;
  width: 50%;
  text-align: center;
}

.sagecell_commands, .sagecell .ui-widget .sagecell_commands {
  width: 100%;
  height: 200px;
  border: 1px solid;
  font-family: monospace;
  font-size: 10pt;
}

.CodeMirror pre {
  font-size: 10pt;
}

.CodeMirror-gutter {
  font-size: 10pt;
}

.CodeMirror-gutters {
  font-size: 10pt;
}
