@import url(http://fonts.googleapis.com/css?family=Raleway:400,500|Roboto+Slab);

body {
    /* height: 90%; */
    font: 200 20px/1.5 Roboto Slab;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

h2 {
    font: 200 35px Roboto Slab;
}

#title {
  text-align: center;
  margin: auto;
}

#links {
  text-align: center;
}
#resume, #essays, #github, #music, #photo , #research, #home, #linkedin {
  margin-left:  5px;
  margin-right: 5px;
}

a {
  color: #B3B4B4;
  margin: 1em 0;
  text-decoration: none;
}

p {
  color: #666868;
  margin: 1em 0;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 80%;
  margin: auto auto auto auto;
  line-height: 1.5em;
}

img {
    top: 50%;
    left: 50%;
    margin-left: -(600/2)px;
    margin-top: -(500/2)px;
}
